*{
    margin:0;
    padding: 0;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-radius: 50%;
    border: 10px;
}
    .logo img {
        width: 20%;
        border-color: white;
        border-radius: 50%;
        border:10px;
        
    }
.myfirstnav {
    display: flex;
  
 
}
.myfirstnavlist {
    width: 50%;
    /*background-color: black;*/
    display: flex;
    justify-content: center;
    align-items: center;

 
}

    .myfirstnavlist li {
        list-style: none;
        padding: 22px 15px;
    }
        .myfirstnavlist li a {
            text-decoration: none;
            color: white;

        }
        .myfirstnavlist li a:hover {
            text-decoration: none;
            color: grey;
        }
.myfirstrightnav {
    /*background-color: black;*/
    width: 50%;
    text-align: right;
    justify-content:center;
    align-content:center;
    padding:20px;
}
#search{
    border-radius:40%;
    background-color:grey;
    font-size:medium;
    padding:5px;
    
}
.background {
    background: #ff0000 url(/images/img25.jpg);
    background-size: cover;
    object-fit:fill;
    image-rendering:pixelated;
    image-resolution:from-image;
}

.main-box {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 50px;
    background: 100vh;
}

.firsthalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    max-width: 80%;
}
.secondhalf {
    
    max-width:90%;
    
}
    .secondhalf img {
        border-color: white;
        height: 20vh;
        padding-left: 50px;
        padding-right: 20px;
    }
.myfirstpara{
    font-size:xx-large;
}
.mypara {
    font-size: xx-large;
    padding-left: 70px;
}
.btn {
    text-decoration: none;
    cursor:pointer;
   /* margin :6px;*/
    padding:8px;
    border-radius:3px;
    background:none;
    border-color:white;   
    padding-bottom:10px;
}


    .btn:hover {
        text-decoration: none;
        color: grey;
    }
.firstmaincontent {
    padding-top:10px;
   
    display: flex;
    /*max-height:90px;*/
}
.mymainclass{
    padding-left:325px;
}
.mynextmain
{
    padding-left:25px;
}
.mymainpara {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.topmaincontent
{
 
    padding-top:40px;
    display:flex;
    justify-content:center;
    align-content:center;
}
.topmymainpara {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 75px;
}
.topmymainclass {
    max-width: 80%;
    padding-bottom:50px;
}
.topsecond img
{
    max-width:70%;
    height:20vh;
    padding-left:85px;
}
.form-control {
    justify-content:center;
    align-items:center;
    display: flex;
    flex-direction: column;

}
.midmaincontent {
 
    font-size:larger;
    font-family:'Times New Roman';
    max-width: 50%;
    max-height: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
   
}
.contact {
    
    font-size: larger;
    font-family: 'Times New Roman';
    padding-left:290px;
    padding-bottom:30px;
    font-variant-caps:unicase;
}
@media only screen and (max-width:1300px) {
    .myfirstnavlist {
        flex-direction: column;
    }

    .secondhalf img {
        max-width: 70%
    }

    .topsecond img {
        max-width: 80%;
        height: 20vh;
        padding-left: 20px;
    }

    .firsthalf {
        max-width: 40%;
        padding-right: 200px;
        max-height: 80%;
    }

    .contact {
        padding-left: 200px;
    }

    .mymainclass {
        padding-left: 100px;
    }

    .burger {
        cursor:pointer;
    }
    .line {
        width: 33px;
        background-color: white;
        height: 4px;
        margin: 3px;
    }
    .hnav {
        height: 72px;
    }
    .v-nav{
        opacity:0;
    }
}



